version: 2.1

orbs:
  node: circleci/node@5.1.0

jobs:
  test:
    executor:
      name: node/default
      tag: '18.18'
    steps:
      - checkout
      - node/install-packages
      - run:
          command: npm -v
      - run:
          command: npm run test
          
workflows:
  test_my_app:
    jobs:
      - test
